### zip function

- Returns an iterator of tuples, where the i-th tuple contains the i-th element from each of the argument sequences or iterables. |
- The iterator stops when the shortest input iterable is exhausted. With a single iterable argument, it returns an iterator of 1-tuples. With no arguments, it returns an empty iterator.

 - zip() can accept any type of iterable, such as files, lists, tuples, dictionaries, sets,

In [2]:
numbers = [1, 2, 3, 4, 5]
letters = ['a', 'b', 'c']

zipped = zip(numbers, letters)

print(zipped)
print(list(zipped))

<zip object at 0x000001F05319BEC0>
[(1, 'a'), (2, 'b'), (3, 'c')]

- If youâ€™re working with sequences like lists, tuples, or strings, then your iterables are guaranteed to be evaluated from left to right.

In [3]:
numbers = [1, 2, 3, 4, 5]
letters = ['a', 'b', 'c']

zipped = zip(numbers, letters)

print(zipped)
print(list(zipped))

<zip object at 0x000001F05319BE40>
[(1, 'a'), (2, 'b'), (3, 'c')]

- for other types of iterables (like sets), you might see some weird results

In [4]:
s1 = { 3, 4, 1, 2,  }
s2 = {  'b', 'c', 'a', 'd' }

list(zip(s1, s2))

[(1, 'd'), (2, 'b'), (3, 'a'), (4, 'c')]

 ### passing no arguments

In [5]:
list(zip())

[]

### passing one arguments

In [6]:
a = [1, 2,3]
zipped = zip(a)
print(list(zipped))

[(1,), (2,), (3,)]

### with three iterators

In [7]:
a = [1, 2 , 3, 4]
b = ['a', 'b', 'c', 'd']
c = [1.2, 2.4, 4.4, 6.6]
print(list(zip(a, b, c)))

[(1, 'a', 1.2), (2, 'b', 2.4), (3, 'c', 4.4), (4, 'd', 6.6)]

### passing unequal length iterators

### zip_longest

In [8]:
from itertools import zip_longest

In [9]:
letters = ["a", "b", "c"]

In [10]:
longest = range(5)

In [11]:
zipped = zip_longest(numbers, letters, longest, fillvalue="?")

In [12]:
list(zipped)

[(1, 'a', 0), (2, 'b', 1), (3, 'c', 2), (4, '?', 3), (5, '?', 4)]

### uneqal length lists

In [13]:
list(zip(range(5), range(100)))

[(0, 0), (1, 1), (2, 2), (3, 3), (4, 4)]

### strict mode option

In [16]:
list(zip(range(5), range(100), strict=True)) 
# This new feature of zip() is useful when you need to make sure that the function only accepts iterables of equal length

ValueError: zip() argument 2 is longer than argument 1

In [17]:
list(zip(range(5), range(100), strict=False))

[(0, 0), (1, 1), (2, 2), (3, 3), (4, 4)]

### traversing the list parallel

In [18]:
numbers = [1, 2, 3, 4]
letters = ['a', 'b', 'c', 'd']

for number, letter in zip(numbers, letters):
    print(number, letter)

1 a
2 b
3 c
4 d

### Traversing Dictionaries in Parallel

In [24]:
dict1 =  { 
    "name": "chinmay",
    "age": 22,
    "job": "Frontend Developer"
}


dict2 =  { 
    "name": "Chaitany",
    "age": 22,
    "job": "Full Stack Developer"
}

print(dict1.items())
print(dict2.items())

zipped = zip(dict1.items(), dict2.items())

print(list(zipped))


for (k1, v1), (k2, v2) in zip(dict1.items(), dict2.items()):
    print(f"{k1} --> {v1}")
    print(f"{k2} --> {v2}")

dict_items([('name', 'chinmay'), ('age', 22), ('job', 'Frontend Developer')])
dict_items([('name', 'Chaitany'), ('age', 22), ('job', 'Full Stack Developer')])
[(('name', 'chinmay'), ('name', 'Chaitany')), (('age', 22), ('age', 22)), (('job', 'Frontend Developer'), ('job', 'Full Stack Developer'))]
name --> chinmay
name --> Chaitany
age --> 22
age --> 22
job --> Frontend Developer
job --> Full Stack Developer

### unzipping

In [ ]:
pairs = [(1, "a"), (2, "b"), (3, "c"), (4, "d")]

numbers, letters = zip(*pairs)

numbers, letters

((1, 2, 3, 4), ('a', 'b', 'c', 'd'))

### sorting

In [32]:
letters = ["b", "a", "d", "c"]
numbers = [2, 4, 3, 1]
data1 = list(zip(letters, numbers))
data1.sort() # sorting by letters
print(data1)


data2 = list(zip(numbers, letters))
data2.sort()
print(data2)

[('a', 4), ('b', 2), ('c', 1), ('d', 3)]
[(1, 'c'), (2, 'b'), (3, 'd'), (4, 'a')]

### Calculating in Pairs

In [33]:
total_sales = [52000.00, 51000.00, 48000.00]
prod_cost = [46800.00, 45900.00, 43200.00]

for sales, costs in zip(total_sales, prod_cost):
    profit = sales - costs
    print(f"Total profit: {profit}")

Total profit: 5200.0
Total profit: 5100.0
Total profit: 4800.0